@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
.navbar {
    background-color :rgb(2, 7, 32);:  ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 6vh;
}
.hidden{
    display: none;
}
*{
    margin: 0;
    padding: 0;
}
.navbtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vh;
}
.navbtn a {
    color: white;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
}
.navbtn a:hover{
    color:rgba(137, 219, 44, 0.876) ;
}
.navbar img {
    width: 5vw;
    height: 6vh;
    color: yellow;
    margin: 3vw;
    cursor: pointer;
}
.sun{
    height: 94vh;
    background-color: rgb(2, 7, 32);
    width: 100vw;
}
.sun img {
    height: 96vh;
    width: 70vh;
    position: absolute;
    left: -25vh;
}
body{
    overflow: hidden;
}
.bigtext {
    position: absolute;
    top: 30%;
    right: 26%;
    font-size: 2.4rem;
    color: rgb(175, 139, 180);
    font-family: 'Cairo', sans-serif;
    text-wrap: nowrap;
}
.smalltext{
    position: absolute;
    top: 42%;
    right: 30%;
    font-size: 2.2rem;
    color: rgb(185, 86, 86);
    font-family: 'Cairo', sans-serif;

}
button {
    position: absolute;
    top: 54%;
    right: 36%;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(66, 160, 66);
    border: 2px solid rgb(66, 160, 66) ;
    border-radius: 10px;
    font-family: 'Cairo', sans-serif;
    cursor: pointer;


}
button:hover{
    color: black;
    border: 2px solid rgb(2, 24, 39);
    background-color: white;
}
#search{
    margin-top: 10vh;
}
#searchbtn{
    margin-top: 10vh;
    margin-left: 2vh;
    border: 2px solid rgb(29, 144, 29);
    border-radius: 5px;
    background-color: rgb(29, 144, 29);
    color: white;
    font-family: 'Cairo', sans-serif;
}
#searchbtn:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
.weathercontainer{
  display: flex;
  justify-content: center;
}
#here{
    background-color: rgb(2, 7, 32);
    height: 100vh;
}
#conditioncontainer{
    background: white;
    width: 25vw;
    height: 60vh;
    margin-top: 6vh;
    margin-left: 38vw;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
input::placeholder{
    opacity: 0.5;
}
#contact{
  background: rgb(2, 7, 32) ;
  width: 100vw;
  height: 100vh;
}
#contact img {
  position: absolute;
  right: 0;
  margin-top: 10vh;
  height: 80vh;
  width: 40vw;
}
#contactus{
    position: absolute;
    color: white;
    font-size: 2rem;
    top: 30vh;
    left: 15vw;
    font-family: 'Cairo', sans-serif;
}
#number{
    position: absolute;
    color: white;
    font-size: 1.3rem;
    letter-spacing: 0.5vw;
    top: 40vh;
    left: 15.5vw;
    font-family: 'Cairo', sans-serif;
}
#contacthere{
    position: absolute;
    color: white;
    background: rgb(49, 144, 49);
    border: 4px solid rgb(49, 144, 49) ;
    border-radius: 10px;
    font-size: 1.3rem;
    top: 50vh;
    left: 20vw;
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
}
#contacthere:hover{
    color: black;
    background: white;
    border: 4px solid white ;
}
#about{
    background: rgb(2, 7, 32);
    width: 100vw;
    height: 100vh;
}
#about img {
    position: absolute;
    right: 2vw;
    top: 20vh;
    height: 60vh;
    width: 50vw;
}
#aboutus{
    position: absolute;
    color: white;
    font-size: 2rem;
    top: 30vh;
    left: 15vw;
    font-family: 'Cairo', sans-serif;
}
#para{
    position: absolute;
    color: white;
    font-size: 1.3rem;
    top: 40vh;
    left: 15.5vw;
    font-family: 'Cairo', sans-serif;
}
#more{
    position: absolute;
    color: white;
    font-size: 1.3rem;
    top: 70vh;
    left: 20vw;
    background: rgb(61, 129, 61);
    border: 5px solid rgb(61, 129, 61);
    border-radius: 10px;
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
}
#more:hover{
    color: black;
    background: white;
    border: 5px solid white;
}
